<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Android 13 PUSH 대응 -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eatswunee"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:authorities="com.example.eatswunee"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".bistro.Order_WaitingActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".server.chat.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".server.chat.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".bistro.Review_WriteActivity"
            android:exported="false" />
        <activity
            android:name=".ShopBagActivity"
            android:exported="false" />
        <activity
            android:name=".notificationActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MyReviewActivity"
            android:exported="false" />
        <activity
            android:name=".community.articlesActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".community.Friend_ViewActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.settingActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.order_listActivity"
            android:exported="false" />
        <activity
            android:name=".community.Friend_WriteActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.profile_editActivity"
            android:exported="false" />
        <activity
            android:name=".bistro.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".bistro.menu_infoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <service
            android:name=".server.chat.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
            TODO: enabled: 시스템에서 활동을 인스턴스화할 수 있는지 여부
            true: 인스턴스화 가능(기본값)
            flase: 인스턴스화 불가능

            TODO: exported: 다른 애플리케이션의 구성요소에서 활동을 시작할 수 있는지를 설정
            'true': 모든 앱에서 활동에 액세스할 수 있으며 정확한 클래스 이름으로 활동을 시작할 수 있습니다.
            'false': 활동은 같은 애플리케이션의 구성요소나 사용자 ID가 같은 애플리케이션, 권한이 있는 시스템 구성요소에서만 시작될 수 있음. 이는 인텐트 필터가 없는 경우의 기본값

            TODO: stopWithTask: 휴대폰의 태스크에서 모두닫기 및 스와이프했을때 현상
            true: 휴대폰의 태스크에서 모두닫기 및 스와이프 했을 때 액티비는 종료되고 서비스도 종료
            false: 휴대폰의 태스크에서 모두닫기 및 스와이프 했을 때 액티비티는 종료되고 서비스는 onTackRemoved() 호출이 되며 곧바로 서비스가 재시작되어 onCreate()를 타게 된다.
        -->

    </application>

</manifest>